<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Merb Latest Rss Items Slice Preview</title>
    <link href='<%= stylesheet_path "merb-latest-rss-slice.css" %>' rel='stylesheet' type='text/css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/merb-latest-rss-slice.js" type="text/javascript" charset="utf-8"></script>
  </head>
  <body class="merb_latest_rss_items_slice-slice">
  <div id="container">
	  <h1>Merb Latest Rss Items Slice Example:</h1>
	  
	  <% debugger %>
    <div id="main"><%= catch_content :for_layout %></div>
  </div>
  </body>
</html>